<div class="main-wrapper" xmlns="http://www.w3.org/1999/html">
  <div class="col-xs-12">
    <form (ngSubmit)="onSaveData(f)" #f="ngForm">
      <div id="user-input">
        <div class="form-group">
          <p>Projekt:</p>
          <select id="Projekt" name="Projekt">
            id="projekt"
            class="form-control"
            ngModel
            name="projekt"
            <option value="Projekt1">K-23342342</option>
            <option value="Projekt2">K-98323771</option>
            <option value="Projekt3">K-62388211</option>
        </select>

        </div>

        <p>Datum:</p>
          <input type="date"
                   id="date"
                   class="form-control"
                   name="date"
                   ngModel
                   required>
<br><br>
        <p>Kommentar:</p>
          <input type="text"
                id="Kommentar"
                class="form-control"
                ngModel
                name="kommentar">
        </div>
<br>
        <button class="btn btn-primary" type="submit">Zeiten speichern</button>
    </form>
  </div>
</div>

